@charset "UTF-8";
body {
  font-family: "'Noto Sans JP', sans-serif";
}

body {
  background-color: #111;
}

.u-desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .u-desktop {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .u-mobile {
    display: none;
  }
}

/* リキッドレイアウト対応 */
html {
  font-size: 16px;
}
@media (max-width: 375px) {
  html {
    font-size: 4.2666666667vw;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 1.4545454545vw;
  }
}
@media (min-width: 1100px) {
  html {
    font-size: 16px;
  }
}

/* pcの電話番号発信対応 */
@media screen and (min-width: 768px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}

/* ホバー */
a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
@media screen and (min-width: 768px) {
  a:hover {
    opacity: 0.8;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.blog-card-list {
  position: relative;
}
@media screen and (min-width: 768px) {
  .blog-card-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.blog-card-list::before {
  position: absolute;
  content: "New";
  top: 0;
  left: 0;
  background-color: #FFBA6A;
  width: 60px;
  width: 3.75rem;
  height: 60px;
  height: 3.75rem;
  border-radius: 50%;
  font-size: 16px;
  font-size: 1rem;
  color: #333;
  font-weight: 400;
  line-height: 2.1875;
  letter-spacing: 2px;
  letter-spacing: 0.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 768px) {
  .blog-card-list__item {
    max-width: calc(33.3333% - 1.04167rem);
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .blog-card-list__item:not(:nth-child(3n)) {
    margin-right: 1.5625rem;
  }
}

@media screen and (min-width: 768px) {
  .blog-card-list__item:nth-child(n+4) {
    margin-top: 1.5625rem;
  }
}

.blog-card {
  color: #333;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.blog-card:hover {
  color: #fff;
  background-color: #333;
}

.blog-card__body {
  color: inherit;
  padding: 4px 24px;
  padding: 0.25rem 1.5rem;
}

.blog-card__title {
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.9444444444;
  text-align: center;
  letter-spacing: 1px;
  letter-spacing: 0.0625rem;
}

.blog-card__text,
.blog-card__information {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.8571428571;
  padding-top: 4px;
  padding-top: 0.25rem;
}

.blog-card__information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: auto;
  padding: 4px 24px 16px;
  padding: 0.25rem 1.5rem 1rem;
}

.blog-card__category {
  background-color: #FFEA2E;
  padding: 4px 5px;
  padding: 0.25rem 0.3125rem;
  color: #000;
}

.btn {
  background-color: #333;
  color: #fff;
  border: 1px solid #fff;
  display: block;
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.45;
  letter-spacing: 2px;
  letter-spacing: 0.125rem;
  text-align: center;
  cursor: pointer;
  max-width: 335px;
  max-width: 20.9375rem;
  width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .btn {
    font-size: 1rem;
    max-width: 22.5rem;
    margin: 0;
    margin: initial;
  }
}

.btn span {
  position: relative;
  z-index: 3;
  /*z-indexの数値をあげて文字を背景よりも手前に表示*/
  color: #fff;
}

.btn:hover span {
  color: #333;
}

.btn a {
  display: inline-block;
  width: inherit;
  padding: 10px 0;
  padding: 0.625rem 0;
}
@media screen and (min-width: 768px) {
  .btn a {
    padding: 0.3125rem 1.375rem;
    position: relative;
  }
}

.btn a::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  content: "";
  background: #fff;
  -webkit-transform-origin: right top;
          transform-origin: right top;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

@media screen and (min-width: 768px) {
  .btn a:hover::before {
    -webkit-transform-origin: left top;
            transform-origin: left top;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

.copyright {
  margin-top: 28px;
  margin-top: 1.75rem;
  color: #fff;
  text-align: center;
  font-size: 11px;
  font-size: 0.6875rem;
  letter-spacing: 1.2px;
  letter-spacing: 0.075rem;
}
@media screen and (min-width: 768px) {
  .copyright {
    margin-top: 4.4375rem;
    font-size: 0.9375rem;
  }
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #111;
  height: 372px;
  height: 23.25rem;
  width: 100vw;
}
@media screen and (min-width: 768px) {
  footer {
    height: 12.3125rem;
  }
}

.footer__inner {
  height: inherit;
  padding: 48px 0;
  padding: 3rem 0;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer__inner {
    padding: 1.125rem 0.9375rem 1.6875rem 2rem;
  }
}

@media screen and (min-width: 768px) {
  .footer__contents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 3.125rem;
  }
}

.footer__logo {
  width: 70px;
  width: 4.375rem;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .footer__logo {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__logo a {
  display: block;
  width: 100%;
}

.footer__nav {
  color: #fff;
  margin-top: 8px;
  margin-top: 0.5rem;
}
@media screen and (min-width: 768px) {
  .footer__nav {
    height: inherit;
  }
}

@media screen and (min-width: 768px) {
  .footer__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: inherit;
  }
}

.footer__item {
  height: inherit;
  text-align: center;
}

.footer__item a {
  display: block;
  color: #fff;
  padding-top: 4px;
  padding-top: 0.25rem;
  padding-bottom: 4px;
  padding-bottom: 0.25rem;
  width: 100%;
  font-weight: 400;
  letter-spacing: 2px;
  letter-spacing: 0.125rem;
}
@media screen and (min-width: 768px) {
  .footer__item a {
    line-height: 2.1875;
    height: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 1rem;
    position: relative;
  }
}

.footer__item a::after {
  position: absolute;
  content: "";
  width: calc(100% - 2rem);
  height: 1px;
  background-color: #FFEA2E;
  bottom: 8px;
  bottom: 0.5rem;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: center top;
          transform-origin: center top;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.footer__item a:hover::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

@media screen and (min-width: 768px) {
  .footer__item--sp {
    display: none;
  }
}

.hamburger {
  z-index: 9999;
}
@media screen and (min-width: 768px) {
  .hamburger {
    display: none;
  }
}

.hamburger span {
  position: relative;
  display: block;
  height: 2px;
  height: 0.125rem;
  width: 24px;
  width: 1.5rem;
  background-color: #fff;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.hamburger span:nth-child(1) {
  top: 0;
}

.hamburger span:nth-child(2) {
  margin: 4px 0;
  margin: 0.25rem 0;
}

.hamburger span:nth-child(3) {
  top: 0;
}

.hamburger.is-open span:nth-child(1) {
  top: 5px;
  top: 0.3125rem;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.hamburger.is-open span:nth-child(2) {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0;
}

.hamburger.is-open span:nth-child(3) {
  top: -7px;
  top: -0.4375rem;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #111;
  height: 50px;
  height: 3.125rem;
  width: 100vw;
  z-index: 9999;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: inherit;
  padding: 0 16px 0 22px;
  padding: 0 1rem 0 1.375rem;
}
@media screen and (min-width: 768px) {
  .header__inner {
    padding-left: 2rem;
    padding-right: 0;
  }
}

.header__logo {
  width: 70px;
  width: 4.375rem;
  position: relative;
  z-index: 9999;
}
@media screen and (min-width: 768px) {
  .header__logo {
    width: 5.875rem;
  }
}

.inner {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .inner {
    max-width: 1150px;
    padding-right: 25px;
    padding-left: 25px;
  }
}

.js-scroll-top {
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  visibility: hidden;
  opacity: 0;
}

.js-scroll-top.is-fadein {
  visibility: visible;
  opacity: 1;
}

.arrow {
  position: fixed;
  right: 32px;
  right: 2rem;
  bottom: 32px;
  bottom: 2rem;
  color: #333;
  cursor: pointer;
  background-color: #fff;
  padding: 27px;
  padding: 1.6875rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.arrow:hover {
  background-color: #333;
  color: #fff;
}

.arrow::before {
  content: "";
  position: absolute;
  width: 18px;
  width: 1.125rem;
  height: 18px;
  height: 1.125rem;
  border-top: solid 3px #333;
  border-right: solid 3px #333;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
  position: absolute;
  left: 50%;
  top: 50%;
}

.arrow:hover:before {
  border-top: solid 3px #fff;
  border-right: solid 3px #fff;
}

.pc-nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .pc-nav {
    display: block;
    height: inherit;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.pc-nav__items {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pc-nav__item {
  height: inherit;
  color: #fff;
  letter-spacing: 2px;
  letter-spacing: 0.125rem;
}

.pc-nav__item a {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 15px;
  padding: 0 0.9375rem;
  position: relative;
}

.pc-nav__item a::after {
  position: absolute;
  content: "";
  width: calc(100% - 2rem);
  height: 1px;
  background-color: #FFEA2E;
  bottom: 8px;
  bottom: 0.5rem;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: center top;
          transform-origin: center top;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.pc-nav__item a:hover::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.pc-nav__item.pc-nav__item--white {
  margin-left: 14px;
  margin-left: 0.875rem;
}

.pc-nav__item.pc-nav__item--white a {
  color: #333;
  background-color: #fff;
  padding: 0 31px;
  padding: 0 1.9375rem;
}

.pc-nav__item.pc-nav__item--white a::after {
  position: absolute;
  content: "";
  width: calc(100% - 4rem);
  height: 1px;
  background-color: #FFEA2E;
  bottom: 8px;
  bottom: 0.5rem;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: center top;
          transform-origin: center top;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.pc-nav__item.pc-nav__item--white a:hover::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.section-blog {
  background-color: #111;
  padding: 48px 20px 120px;
  padding: 3rem 1.25rem 7.5rem;
  margin: 400px 0;
}

@media screen and (min-width: 768px) {
  .section-blog__inner {
    max-width: 69.6875rem;
    width: 100%;
    margin: 0 auto;
  }
}

.english-title-blog {
  max-width: 114px;
  max-width: 7.125rem;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .english-title-blog {
    max-width: 15.125rem;
  }
}

.section-blog__btn {
  margin-top: 48px;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
}

.section-title--english.english-title-contact {
  max-width: 422px;
  max-width: 26.375rem;
  width: 100%;
  margin-bottom: 500px;
}

.english-title-content {
  max-width: 205px;
  max-width: 12.8125rem;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .english-title-content {
    max-width: 27.5rem;
  }
}

.section-header__title {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.45;
  font-weight: 400;
  letter-spacing: 2px;
  letter-spacing: 0.125rem;
  text-align: center;
}

.section-header__text {
  margin-top: 24px;
  margin-top: 1.5rem;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.4375;
  font-weight: 400;
  letter-spacing: 2px;
  letter-spacing: 0.125rem;
}

.u-desktop img {
  height: auto;
  width: 100%;
  display: block;
}

.u-mobile img {
  height: auto;
  width: 100%;
  display: block;
}

@-webkit-keyframes zoomUp {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
}

@keyframes zoomUp {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
}
.swiper-slide-active .slide-img,
.swiper-slide-duplicate-active .slide-img,
.swiper-slide-prev .slide-img {
  -webkit-animation: zoomUp 10s linear 0s 1 normal both;
          animation: zoomUp 10s linear 0s 1 normal both;
}

.slide-img {
  position: relative;
}

.swiper-caption__title {
  display: block;
  padding: 0 16px;
  padding: 0 1rem;
}

.swiper-caption__title--main {
  color: #fff;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 28px;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.5px;
  letter-spacing: 0.03125rem;
  width: 100%;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .swiper-caption__title--main {
    font-size: 3.125rem;
  }
}

.swiper-caption__title--sub {
  color: #fff;
  position: absolute;
  top: calc(50% + 5rem);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.5px;
  letter-spacing: 0.03125rem;
  width: 100%;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .swiper-caption__title--sub {
    font-size: 1.5625rem;
  }
}

.section-news {
  margin-top: 16px;
  margin-top: 1rem;
  background-color: #111;
}

.section-news__inner {
  padding: 24px 20px;
  padding: 1.5rem 1.25rem;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .section-news__inner {
    max-width: 67.625rem;
    margin: 0 auto;
  }
}

.section-news__content {
  color: #fff;
}
@media screen and (min-width: 768px) {
  .section-news__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .section-news__information {
    margin-right: 2.5rem;
  }
}

.section-news__date, .news__category {
  display: inline-block;
}

.section-news__date {
  margin-right: 32px;
  margin-right: 2rem;
}

.section-news__category {
  line-height: 1;
  font-size: 14px;
  font-size: 0.875rem;
  border: 1px solid #fff;
  padding: 7px 20px;
  padding: 0.4375rem 1.25rem;
  min-width: 101px;
  min-width: 6.3125rem;
}

@media screen and (min-width: 768px) {
  .section-news__body {
    margin-right: 2rem;
    max-width: 36.75rem;
    width: 100%;
  }
}

.section-news__body a {
  display: block;
  padding: 16px 0 28px;
  padding: 1rem 0 1.75rem;
  width: 100%;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.4375;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .section-news__body a {
    padding: 0.3125rem;
    position: relative;
  }
}

.section-news__body a::after {
  position: absolute;
  bottom: 6px;
  bottom: 0.375rem;
  left: 0;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #fff;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: right top;
          transform-origin: right top;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

@media screen and (min-width: 768px) {
  .section-news__body a:hover::after {
    -webkit-transform-origin: left top;
            transform-origin: left top;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@media screen and (min-width: 768px) {
  .section-news__btn--pc {
    background-color: #fff;
    color: #000;
    display: block;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    text-align: center;
    max-width: 8.4375rem;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .section-news__btn--pc span {
    position: relative;
    z-index: 3;
    /*z-indexの数値をあげて文字を背景よりも手前に表示*/
    color: #000;
  }
}

@media screen and (min-width: 768px) {
  .section-news__btn--pc:hover span {
    color: #fff;
  }
}

@media screen and (min-width: 768px) {
  .section-news__btn--pc a {
    display: inline-block;
    width: inherit;
    padding: 0.25rem 1.25rem;
    position: relative;
  }
}

@media screen and (min-width: 768px) {
  .section-news__btn--pc a::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    content: "";
    background: #333;
    -webkit-transform-origin: right top;
            transform-origin: right top;
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
  }
}

@media screen and (min-width: 768px) {
  .section-news__btn--pc a:hover::before {
    -webkit-transform-origin: left top;
            transform-origin: left top;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

.english-title-overview {
  max-width: 242px;
  max-width: 15.125rem;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .english-title-overview {
    max-width: 32.1875rem;
  }
}

.section-overview__wrapper {
  background-color: #111;
}
@media screen and (min-width: 768px) {
  .section-overview__wrapper {
    background: -webkit-gradient(linear, left top, right top, from(#333), color-stop(70%, #333), color-stop(70%, #111), to(#111));
    background: linear-gradient(90deg, #333 0%, #333 70%, #111 70%, #111 100%);
  }
}

@media screen and (min-width: 768px) {
  .section-overview__inner {
    max-width: 74.375rem;
    width: 100%;
    margin: 0 auto;
    padding: 5rem 0;
  }
}

@media screen and (min-width: 768px) {
  .section-overview__contents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .section-overview__image {
    max-width: 34.8125rem;
    width: 100%;
    margin-right: 2rem;
  }
}

.section-overview__content {
  padding: 24px 20px 21px;
  padding: 1.5rem 1.25rem 1.3125rem;
  color: #fff;
  background-color: #333;
}
@media screen and (min-width: 768px) {
  .section-overview__content {
    max-width: 31.875rem;
    width: 100%;
  }
}

.section-overview__btn {
  margin-top: 16px;
  margin-top: 1rem;
}

.section-title {
  color: #fff;
  width: 100%;
}

.section-title__header {
  width: inherit;
  font-size: 30px;
  font-size: 1.875rem;
  font-weight: 400;
  letter-spacing: 0.5px;
  letter-spacing: 0.03125rem;
  text-align: center;
  display: block;
  padding: 10px;
  padding: 0.625rem;
}

.section-works__wrapper {
  background-color: #111;
}
@media screen and (min-width: 768px) {
  .section-works__wrapper {
    background: -webkit-gradient(linear, left top, right top, from(#111), color-stop(30%, #111), color-stop(30%, #333), to(#333));
    background: linear-gradient(90deg, #111 0%, #111 30%, #333 30%, #333 100%);
  }
}

@media screen and (min-width: 768px) {
  .section-works__inner {
    max-width: 74.375rem;
    width: 100%;
    margin: 0 auto;
    padding: 5rem 0;
  }
}

@media screen and (min-width: 768px) {
  .section-works__contents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .section-works__image {
    max-width: 34.8125rem;
    width: 100%;
    margin-right: 2rem;
  }
}

.section-works__content {
  padding: 24px 20px 21px;
  padding: 1.5rem 1.25rem 1.3125rem;
  color: #fff;
  background-color: #333;
}
@media screen and (min-width: 768px) {
  .section-works__content {
    max-width: 31.875rem;
    width: 100%;
  }
}

.section-works__btn {
  margin-top: 16px;
  margin-top: 1rem;
}

.slide-dots {
  position: absolute;
  bottom: -25px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  z-index: 9999;
}

.slide-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slide-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.slide-dots li button:before {
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: "•";
  text-align: center;
  color: #C4C4C4;
}

.slide-dots li.slick-active button:before {
  color: #F9F871;
}

.sp-nav {
  position: absolute;
  top: 0;
  left: 0%;
  right: 0%;
  background-color: #111;
  width: 100%;
  height: 100vh;
  z-index: 8888;
}
@media screen and (min-width: 768px) {
  .sp-nav {
    display: none;
  }
}

.sp-nav__items {
  padding-top: 195px;
  padding-top: 12.1875rem;
  padding-bottom: 190px;
  padding-bottom: 11.875rem;
  height: 100vh;
  overflow: scroll;
}

.sp-nav__item {
  text-align: center;
}

.sp-nav__item a {
  display: block;
  color: #fff;
  padding-top: 16px;
  padding-top: 1rem;
  padding-bottom: 16px;
  padding-bottom: 1rem;
  width: 100%;
  cursor: pointer;
  font-weight: 400;
}
/*# sourceMappingURL=styles.css.map */
