@use "global" as *;

.blog-card-list {
  position: relative;

  @include mq ('md'){
    display:flex;
    flex-wrap: wrap;
  }
}

.blog-card-list::before{
  position: absolute;
  z-index: 100;
  content: 'New';
  top: rem(-14);
  left: rem(-14);
  background-color: #FFBA6A;
  width: rem(60);
  height: rem(60);
  border-radius: 50%;
  font-size: rem(16);
  color: $background;
  font-weight: $normal;
  line-height: calc( 35 / 16);
  letter-spacing: rem(2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.blog-card-list__item {
  @include mq ('md'){
    max-width: calc(33.3333% - rem(25)*2 / 3);
    width: 100%;
  }
}

.blog-card-list__item:not(:nth-child(3n)) {
  @include mq ('md'){
    margin-right: rem(25);
  }
}

.blog-card-list__item:nth-child(n + 4){
  @include mq ('md'){
    margin-top: rem(25);
  }
}
