@use "global" as *;

.btn {
  @include btn('normal');
}

.btn a {
  display: inline-block;
  width: inherit;
  padding: rem(10) 0;

  @include mq ('md'){
    padding: rem(4) rem(22);
  }
}

.btn a:hover{
  @include mq ('md'){
    background-color:$white ;
    color: $background;
  }
}