@use "global" as *;

.btn {
  @include btn('normal');
}

.btn span {
  position: relative;
  z-index: 3;/*z-indexの数値をあげて文字を背景よりも手前に表示*/
  color:$white;
}

.btn:hover span{
  color:$background;
}

.btn a {
  display: inline-block;
  width: inherit;
  padding: rem(9) 0;

  @include mq ('md'){
    padding: 0 rem(5);
    position: relative;
    line-height: calc(54 / 16);
  }
}

.btn a::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  content: '';
  background: $white;
  transform-origin: right top;
  transform: scale(0, 1);
  transition: transform .3s;
}

.btn a:hover::before {
  @include mq ('md'){
    transform-origin: left top;
    transform: scale(1, 1);
  }
}