@use "global" as *;

.copyright {
  margin-top: rem(28);
  color: $white;
  text-align: center;
  font-size: rem(11);
  letter-spacing: rem(1.2);
  
  @include mq ('md'){
    margin-top: rem(71);
    font-size: rem(15);
  }
}