@use "global" as *;

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: $black;
  height: rem(50);
  width: 100vw;
  z-index: 9999;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: inherit;
  padding: 0 rem(16) rem(8) rem(23);

  @include mq ('md'){
    padding-left: rem(32);
    padding-right:0;
  }
}

.header__logo {
  padding-top: rem(10);
  width: rem(70);
  position: relative;
  z-index: 9999;

  @include mq ('md'){
    width:rem(94);
  }
}

