@use "global" as *;

.js-scroll-top {
  transition: opacity 1s;
  visibility: hidden;
  opacity: 0;
  z-index: 500;
}
//jsでis-fadeinクラスつけて出現させる
 .js-scroll-top.is-fadein {
    visibility: visible;
    opacity: 1;
  }
// 矢印
.arrow{
  position: fixed;
  right: rem(22);
  bottom: rem(35);
  color: $background;
  cursor: pointer;
  background-color: $white;
  padding: rem(22);
  transition: all 0.2s ease-in-out;
  @include mq ('md'){
    right: rem(35);
    bottom: rem(32);
  }
}
.arrow:hover{
  background-color: $background;
  color: $white;
}
.arrow::before {
    content: "";
    position:absolute;
    width: rem(20);
    height: rem(20);
    border-top: solid 3px $background;
    border-right: solid 3px $background;
    transform:translate(-50% , -50%) rotate(-45deg);
    position:  absolute;
    left: 50%;
    top:60%;
  }

  .arrow:hover:before{
    border-top: solid 3px #fff;
    border-right: solid 3px #fff;
  }