@use "global" as *;

.section-news {
  margin-top: 300px;
  background-color: $black;
}

.section-news__inner {
  padding: rem(24) rem(20);
  width: 100%;

  @include mq ('md'){
    max-width: rem(1082); //padding分を足してる
    margin: 0 auto;
  }
}

.section-news__content {
  color: $white;

  @include mq ('md'){
    display: flex;
    justify-content: center;
  }
}

.section-news__information {
  @include mq ('md'){
    margin-right: rem(40);
  }
}

.section-news__date,.news__category {
  display: inline-block;
}

.section-news__date {
  margin-right: rem(32);

}

.section-news__category {
  line-height: 1;
  font-size: rem(14);
  border: 1px solid $white;
  padding: rem(7) rem(20);
  min-width: rem(101);
}

.section-news__body {
  @include mq ('md'){
    margin-right: rem(32);
    max-width: rem(588);
    width: 100%;
  }
}

.section-news__body a{
  display: block;
  padding: rem(16) 0 rem(28);
  width: 100%;
  font-size: rem(16);
  line-height: calc( 23 / 16);
  font-weight: $normal;

  @include mq ('md'){
    padding:rem(5);
    position: relative;
  }
}

.section-news__body a::after {
  position: absolute;
  bottom: rem(6);
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  background-color: $white;
  transform: scale(0, 1);
  transform-origin: right top;
  transition: transform .3s;
}

.section-news__body a:hover::after {
  @include mq ('md'){
    transform-origin: left top;
    transform: scale(1, 1);
  }
}

.section-news__button {
  display: flex;
  align-items: center;
  justify-content: center;
}