@use "global" as *;

.pc-nav {
  display: none;
  @include mq ('md'){
    display: block;
    height: inherit;
    align-items: center;

  }
}

.pc-nav__items {
  height: inherit;
  display: flex;
}

.pc-nav__item {
  height: inherit;
  color: $white;
}

.pc-nav__item a {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 rem(16);
  position: relative;
}

.pc-nav__item a::after{
  position: absolute;
  content:'';
  
  width: calc( 100% - rem(32));
  height: 1px;
  background-color: $sub-accent-color;
  bottom:rem(8);
  transform: scale(0, 1);
  transform-origin:center top;
  transition:transform 0.3s;
}

.pc-nav__item a:hover::after{
  transform:scale(1, 1);
}

.pc-nav__item.pc-nav__item--white{
  margin-left: rem(16);
}

.pc-nav__item.pc-nav__item--white a{
  color: $background;
  background-color: $white;
  padding: 0 rem(32);
}

.pc-nav__item.pc-nav__item--white a::after{
  position: absolute;
  content:'';
  width: calc( 100% - rem(64));
  height: 1px;
  background-color: $sub-accent-color;
  bottom:rem(8);
  transform: scale(0, 1);
  transform-origin:center top;
  transition:transform 0.3s;
}

.pc-nav__item.pc-nav__item--white a:hover::after{
  transform:scale(1, 1);
}