@use "global" as *;

.pc-nav, .js-pc-nav__item--white {
  display: none;
  @include mq ('md'){
    display: block;
    height: inherit;
    align-items: center;

  }
}

.pc-nav__items {
  height: inherit;
  display: flex;
}

.pc-nav__item {
  height: inherit;
  color: $white;
  letter-spacing: rem(2);
}

.pc-nav__item a {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 rem(15);
  position: relative;
}

.pc-nav__item a::after{
  position: absolute;
  content:'';
  
  width: calc( 100% - rem(32));
  height: 1px;
  background-color: $sub-accent-color;
  bottom:rem(8);
  transform: scale(0, 1);
  transform-origin:center top;
  transition:transform 0.3s;
}

.pc-nav__item a:hover::after{
  transform:scale(1, 1);
}

.js-pc-nav__item--white{
  margin-left: rem(14);
  color: $background;
  background-color: $white;
}

.js-pc-nav__item--white a{
  
  padding: 0 rem(38);
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.js-pc-nav__item--white a:hover{
  color: $white;
  background-color: $black;
  padding: 0 rem(31);
}

.js-pc-nav__item--white a::after{
  position: absolute;
  content:'';
  width: calc( 100% - rem(64));
  height: 1px;
  background-color: $sub-accent-color;
  bottom:rem(8);
  transform: scale(0, 1);
  transform-origin:center top;
  transition:transform 0.3s;
}

.js-pc-nav__item--white a:hover::after{
  transform:scale(1, 1);
}

.js-pc-nav__item--white.change-color{
  background-color: $background;
  color: $white;
  transition: color 0.8s ease-out;
}