@use "global" as *;

.u-desktop img{  
  height: auto;
  width: 100%;
  display: block;
}
.u-mobile img{  
  height: auto;
  width: 100%;
  display: block;
}

@keyframes zoomUp {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.15);
  }
}

.swiper-slide-active .slide-img,
.swiper-slide-duplicate-active .slide-img,
.swiper-slide-prev .slide-img{
  animation: zoomUp 10s linear 0s 1 normal both;  
}

// 文字を重ねる
.slide-img {
  position: relative;
}

.swiper-caption__title {
  display: block;
  padding: 0 rem(16);
}

.swiper-caption__title--main {
  color: $white;
  position: absolute;
  top: 48%;
  transform: translateY(-50%);
  font-size: rem(28);
  font-weight: $bold;
  line-height: 1;
  letter-spacing: rem(0.5);
  width: 100%;
  text-align: center;

  @include mq ('md'){
    font-size: rem(50);
  }
}

.swiper-caption__title--sub {
  color: $white;
  position: absolute;
  top: calc(53%);
  font-size: rem(20);
  font-weight: $bold;
  line-height: 1;
  letter-spacing: rem(0.5);
  width: 100%;
  text-align: center;
  
  @include mq ('md'){
    font-size: rem(25);    
  }
}