@use "global" as *;
.section-contact {
  background-color: $background;
  padding-top: rem(60);
  padding-bottom: rem(44);

  @include mq ('md'){
    padding-top: rem(140);
    padding-bottom: rem(130);
  }
}

.english-title-contact{
  max-width: rem(201);
  width: 100%;
  @include mq ('md'){
    max-width: rem(422);
  }
}

.section-contact__inner{
  padding: rem(9) rem(20) rem(20);
}

.section-contact__text {
  color: $white;
  font-size: rem(16);
  line-height: calc(23 / 16);
  letter-spacing: rem(2);
  font-weight: $normal;

  @include mq ('md'){
    text-align: center;
  }
}

.section-contact__btn{
  margin-top: rem(45);
  margin-left: auto;
  margin-right: auto;
  @include mq ('md'){
    margin-top: rem(60);
    letter-spacing: rem(6);
    }
}