@use "global" as *;

.section-title {
  color:$white;
  width: 100%;
  margin: 0 auto;
  position: relative;
  @include mq ('md'){
    max-width: $inner;
  }
}

.section-title__header {
  width: inherit;
  font-size: rem(30);
  font-weight: $normal;
  letter-spacing: rem(0.5);
  text-align: center;
  display: block;
  padding: rem(10);

}

.section-title__english {
  position: absolute;
  top: -30%;
  left: 50%;
  transform: translateX(-50%);

}

.section-title__english--left {
  @include mq ('md'){
    top: 15%;
    left: 0;
    transform: translateX(0%);
    padding-left: rem(25);
  }
}

.section-title__english--right--works {
  @include mq ('md'){
    top: 15%;
    left: 67%;
    transform: translateX(0%);
    padding-right: rem(25);
  }
}

.section-title__english--right--blog {
  @include mq ('md'){
    top: 15%;
    left: 77%;
    transform: translateX(0%);
    padding-right: rem(25);
  }
}

.section-title__english--left--contact {
  @include mq ('md'){
    top: -52%;
    left: 0;
    transform: translateX(0%);
    padding-left: rem(25);
  }
}


