@use "global" as *;

.section-blog {
  background-color: $black;
  padding: rem(48) rem(20) rem(120);
  margin: 400px 0;
}

.section-blog__inner {
  @include mq ('md'){
    max-width: rem(1115);
    width: 100%;
    margin: 0 auto;
  }
}

.section-blog__btn {
  margin-top: rem(48);
  margin-left: auto;
  margin-right: auto;

}

