@use "global" as *;

.section-title {
  color:$white;
  width: 100%;
}

.section-title__header {
  width: inherit;
  font-size: rem(30);
  font-weight: $normal;
  letter-spacing: rem(0.5);
  text-align: center;
  display: block;
  padding: rem(10);
}

.section-title--english {
  max-width: rem(348);
  width: 100%;
}

.section-title--en {
  font-family: $base-font-family-english;
  font-size: rem(110);
  line-height: calc(158 / 110);
  font-weight: $normal;
  letter-spacing: rem(2);
  color: $accent-color;
  opacity: 0.2;
}