@use "global" as *;

.english-title-content {
  max-width: rem(205);
  width: 100%;
  @include mq ('md'){
    max-width: rem(440);
  }
}

.content-item__image {
  display: inline-block;
  max-width: rem(188);
  width: 100%;
  @include mq ('md'){
    max-width: rem(320);
  }
}

.content-item__image:hover{

}

