@use "global" as *;

.section-blog {
  background-color: $black;
  padding: 0 rem(20) rem(120);
  
  @include mq ('md'){
    padding: 0 rem(20) rem(150);
  }
}

.section-blog__items {
  margin-top: rem(50);
  @include mq ('md'){
    margin-top: rem(20);
  }
}

.section-blog__inner {
  @include mq ('md'){
    max-width: rem(1096);
    width: 100%;
    margin: 0 auto;
  }
}

.english-title-blog {
  max-width: rem(114);
  width: 100%;
  @include mq ('md'){
    max-width: rem(242);
  }
}

.section-blog__btn {
  margin-top: rem(21);
  margin-left: auto;
  margin-right: auto;
  @include mq ('md'){
    margin-top: rem(47);
  }
}

