@use "global" as *;

.section-overview {
  padding-top: rem(113);
  padding-bottom: rem(92);
  position: relative;

  @include mq ('md'){
    padding-top: rem(196);
    padding-bottom: rem(203);
  }
}

.section-overview::before {
  position: absolute;
  content:'';
  bottom: rem(6);
  left: 0;
  // z-index: -1;
  width: calc(314 / 375 * 100%);
  height: rem(1167);
  background-image: linear-gradient(to left top, transparent 49.9%, $accent-color 50%, $accent-color calc(50.1% + 1px), transparent calc(50.2% + 1px));

  @include mq ('md'){
    width: calc(1212 / 1280)* 100%;
    height: rem(1212);
    bottom: rem(-182);
    
  }
}

.english-title-overview {
  max-width: rem(242);
  width: 100%;
  @include mq ('md'){
    max-width: rem(515);
    margin-top: rem(-13);
  }
}

.section-overview__wrapper {
  background-color: $black;
  @include mq ('md'){
    background: linear-gradient(90deg, $background 0%, $background 70%, $black 70%, $black 100%);
    z-index: 100;
    position: relative;
  }
}

.overview-mt {
  @include mq ('md'){
  margin-top: rem(18);
  }
}

.section-overview__inner {
  @include mq ('md'){
    max-width: rem(1190);
    width: 100%;
    margin: 0 auto;
    padding: rem(45) 0 rem(80);
  }
}

.section-overview__contents {
  
  @include mq ('md'){
    display:flex;
    flex-direction:row-reverse;
    justify-content: center;
  }
}

.section-overview__image {
  @include mq ('md'){
    max-width: rem(557);
    width: 100%;
    margin-right: rem(32);
  }
}

.overview-image--mt{
  margin-top: rem(37);
}

.section-overview__content {
  margin-top: rem(2);
  padding: rem(24) rem(20) rem(21);
  color: $white;
  background-color: $background;

  @include mq ('md'){
    padding: rem(67) rem(32) 0;
    max-width: rem(574);
    width: 100%;
  }
}

.section-overview__btn {
  margin-top: rem(8);
}