@use "global" as *;

.section-blog {
  background-color: $black;
  padding: rem(48) rem(20) rem(120);
  margin: 400px 0;
}

.section-blog__inner {
  @include mq ('md'){
    max-width: rem(1115);
    width: 100%;
    margin: 0 auto;
  }
}

.blog-card-list {
  position: relative;

  @include mq ('md'){
    display:flex;
    flex-wrap: wrap;
  }
}

.blog-card-list::before{
  position: absolute;
  content: 'New';
  top: 0;
  left: 0;
  background-color: #FFBA6A;
  width: rem(60);
  height: rem(60);
  border-radius: 50%;
  font-size: rem(16);
  color: $background;
  font-weight: $normal;
  line-height: calc( 35 / 16);
  letter-spacing: rem(2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.blog-card-list__item {
  @include mq ('md'){
    max-width: calc(33.3333% - rem(25)*2 / 3);
    width: 100%;
  }
}

.blog-card-list__item:not(:nth-child(3n)) {
  @include mq ('md'){
    margin-right: rem(25);
  }
}

.blog-card-list__item:nth-child(n + 4){
  @include mq ('md'){
    margin-top: rem(25);
  }
}

.blog-card {
  background-color: $white;
  display:flex;
  flex-direction: column;
  @include mq ('md'){
    transition: all .8s;
  }
}

.blog-card + .blog-card {
  margin-top: rem(24);
}

.blog-card:hover {
  @include mq ('md'){
    background-color: $background;
  }
}

.blog-card__body {
  color: $background;
  padding: rem(4) rem(24);
}

.blog-card__body:hover {
  @include mq ('md'){
    color: $white;
  }
}

.blog-card__title {
  font-size: rem(18);
  font-weight: 500;
  line-height: calc( 35 / 18);
  text-align: center;
  letter-spacing: rem(1);
}

.blog-card__text,
.blog-card__information {
  font-size: rem(14);
  font-weight: $normal;
  line-height: calc( 26 / 14);
  padding-top: rem(4);
}

.blog-card__information {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  padding: rem(4) rem(24) rem(16);
}

.blog-card__category {
  background-color: $sub-accent-color;
  padding: rem(4) rem(5);
}

.blog-card__date:hover {
  @include mq ('md'){
    color: $white;
  }
}

.section-blog__btn {
  margin-top: rem(48);
  margin-left: auto;
  margin-right: auto;

}

