@use "global" as *;


.section-works {
  padding-top: rem(113);
  @include mq ('md'){
    padding-top: rem(192);
  }  
}

.english-title-works{
  max-width: rem(161);
  width: 100%;
  @include mq ('md'){
    max-width: rem(348)
  }
}

.section-works__wrapper {
  background-color: $black;
  margin-top: rem(36);
  @include mq ('md'){
    margin-top: rem(20);
    background: linear-gradient(90deg, $black 0%, $black 30%, $background 30%, $background 100%);
    z-index: 100;
    position: relative;
  }
}

.section-works__inner {
  @include mq ('md'){
    max-width: rem(1190);
    width: 100%;
    margin: 0 auto;
    padding: rem(80) 0 rem(50);
  }
}

.section-works__contents {
  
  @include mq ('md'){
    display:flex;
    justify-content: center;
    padding-left: rem(28);
  }
}

.section-works__image {
  @include mq ('md'){
    max-width: rem(557);
    width: 100%;
  }
}

.section-works__content {
  margin-top: rem(-6);
  padding: 0 rem(20) rem(21);
  color: $white;
  background-color: $background;

  @include mq ('md'){
    padding: rem(39) rem(32) 0;
    max-width: rem(574);
    width: 100%;
  }
}

.section-works__btn {
  margin-top: rem(27);
  @include mq ('md'){
    margin-top: rem(9);
  }
}