@use "global" as *;

.section-overview {
  background-color: $black;
  @include mq ('md'){
    background: linear-gradient(90deg, $background 0%, $background 70%, $black 70%, $black 100%);
  }
}

.section-title {
  color:$white;
}

.section-overview__inner {
  @include mq ('md'){
    max-width: rem(1190);
    width: 100%;
    margin: 0 auto;
    padding: rem(80) 0;
  }
}

.section-overview__contents {
  
  @include mq ('md'){
    display:flex;
    flex-direction:row-reverse;
    justify-content: center;
    align-items: center;
  }
}

.section-overview__image {
  @include mq ('md'){
    max-width: rem(557);
    width: 100%;
    margin-right: rem(32);
  }
}

.section-overview__content {
  padding: rem(24) rem(20) rem(21);
  color: $white;

  @include mq ('md'){
    max-width: rem(510);
    width: 100%;
  }
}

.section-overview__btn {
  margin-top: rem(16);
}