@use "global" as *;

.english-title-content {
  max-width: rem(205);
  width: 100%;
  @include mq ('md'){
    max-width: rem(440);
  }
}

.content-item {
  display: flex;
  flex-wrap: wrap;
}
.content-item__image {
  position: relative;
  display: block;
  max-width: 50%;
  width: 100%;
  @include mq ('md'){
    max-width: 25%;
    width: 100%;
  }
}

.content-item__image::before{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: $white;
  width: 100%;
  opacity: 0;
}

.content-item__image:hover::before{
  opacity: 0.6;
}

.content-item__text {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  color: $white;

  @include mq ('md'){
    width:100%;
    text-align: center;
    font-size: rem(25);
    line-height: calc(54 / 25);
    letter-spacing: rem(2);
    font-weight: $normal;
  }
}

