@use "global" as *;

.section-title {
  color:$white;
  width: 100%;
  margin: 0 auto;
  position: relative;
  @include mq ('md'){
    max-width: $inner;
  }
}

.section-title__header {
  width: inherit;
  font-size: rem(20);
  font-weight: $normal;
  text-align: center;
  display: block;
  padding: rem(10);
  line-height: calc(29 / 20);
  letter-spacing: rem(2);

  @include mq ('md'){
    font-size: rem(30);
    letter-spacing: rem(0.5);
  }

}

.section-title__english {
  position: absolute;
  top: -44%;
  left: 50%;
  transform: translateX(-50%);
}

.section-title__english--left {
  @include mq ('md'){
    top: 15%;
    left: -1%;
    transform: translateX(0%);
    padding-left: 1.5625rem;
  }
}

.section-title__english--right--works {
  @include mq ('md'){
    top: -7%;
    left: 69%;
    transform: translateX(0%);
    padding-right: rem(25);
  }
}

.section-title__english--right--blog {
  @include mq ('md'){
    top: -19%;
    left: 79%;
    transform: translateX(0%);
    padding-right: rem(25);
  }
}

.section-title__english--left--contact {
  @include mq ('md'){
    top: -52%;
    left: 0;
    transform: translateX(0%);
    padding-left: rem(5);
  }
}


