@use "global" as *;

.slider-image {
  position: relative;
    width: 100%;
}

.slider-image::before{
  content:"";
    display: block;
    padding-top: 69.6%;

    @include mq ('md'){
      padding-top: 69.8384201%;
    }
}

.slider-image img {  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide-dots {
  position: absolute;
  bottom: rem(-26);
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  z-index: 8888;
  background-color: $background;

  @include mq ('md'){
    bottom: rem(-37);
    background-color: transparent;
  }
}


.slide-dots li {
  position: relative;
  display: inline-block;
  width: rem(20);
  height: rem(25);
  padding: 0;
  cursor: pointer;
}


.slide-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.slide-dots li button:before {
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  // opacity: .25;
  color: #C4C4C4;
}

.slide-dots li.slick-active button:before {
  color: $accent-color;
}