@use "global" as *;



.u-desktop img{  
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  display: block;
}
.u-mobile img{  
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  display: block;
}

@keyframes zoomUp {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.15);
  }
}

.swiper-slide-active .slide-img,
.swiper-slide-duplicate-active .slide-img,
.swiper-slide-prev .slide-img{
  animation: zoomUp 10s linear 0s 1 normal both;  
}


// 文字を重ねる
.section-mainview {
  position: relative;
}

.swiper-caption__title {
  display: block;
  padding: 0 rem(16);
  z-index: 100;
}

.swiper-caption__title--main {
  color: $white;
  position: absolute;
  top: 48%;
  transform: translateY(-50%);
  font-size: rem(28);
  font-weight: $bold;
  line-height: 1;
  letter-spacing: rem(0.5);
  width: 100%;
  text-align: center;

  @include mq ('md'){
    font-size: rem(50);
  }
}

.swiper-caption__title--sub {
  color: $white;
  position: absolute;
  top: calc(53%);
  font-size: rem(20);
  font-weight: $bold;
  line-height: 1;
  letter-spacing: rem(0.5);
  width: 100%;
  text-align: center;
  
  @include mq ('md'){
    font-size: rem(25);    
  }
}

// .swiper {
//   width: 600px;
//   height: 300px;
//   margin: 40px auto;
  
//   .swiper-wrapper {
    
//     .swiper-slide {
//       position: relative;
      
//       &:nth-child(1){ background-color: #384878; }
//       &:nth-child(2){ background-color: #00c2bc; }
//       &:nth-child(3){ background-color: #a8aabc; }
//       &:nth-child(4){ background-color: #384878; }
//       &:nth-child(5){ background-color: #00c2bc; }
//       &:nth-child(6){ background-color: #a8aabc; }
      
//       h1 {
//         position: absolute;
//         top: 50%;
//         left: 50%;
//         transform: translate(-50%, -50%);
//         color: #fff;
//         font-size: 3vw;
        
//       }
//     }
//   }
// }